<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Soujas Algo System</title>

    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <style>
        #Soujas {
            color: rgb(240, 240, 255);
        }
    </style>
</head>

<body>
    <div id="Soujas">
        <h1>Algo Machine Soujas</h1>
    </div>
    <script>
        document.getElementById("Soujas").style.color = "white";
    </script>
</body>

</html>